
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}


 {% block content %}
<div  class="container-fluid" id="main">
    <div class="row">
        <div class="col-sm-8">
            <h3>The Books</h3>
        </div>
        <div class="col-sm-4">
                <h3 >Welcome {{name}}</h3>
                <h3 id ="fav" >Favourites: {{favourites}}</h3>
                <button class="btn btn-primary" onclick="signOut();">Sign out</button>
         </div>

    </div>

    <div class ="row">
        <div class = "col-sm-6">
            <input id = "search_box" placeholder="type the name of the book" style="min-width: 250px;">
            <button type="button" class="btn btn-info" id ="search_button" style ="float: right ;">Search</button>

        </div>
    </div>

    <div class="row">
            <div class="table-responsive">
                    <table class="table" >
                        <thead>
                        <th class="col-sm-3">Title</th>
                        <th class="col-sm-3"> Author </th>
                        <th class="col-sm-3"> Publisher </th>
                        <th class="col-sm-3"> Pubilshed Date </th>
                        </thead>
                        <tbody id ="start">

                       </tbody>
                    </table>
                </div>
            </div>
    </div>

    
</div>

<!--<button type="button" class="btn btn-info" id ="unsubs_button" style ="max-width:75px ;">Unsubscribe</button>-->

 {% endblock content %}