<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}
 {% block content %}



 <div class="container-fluid" id="main">

    <div class="row" >
                    
        <div class"col-sm-12";>
            <form id="form" method ="POST" action="{% url 'vince_story6:login' %}"">
                {% csrf_token %}
                {{ login_form.as_p }}
            </form>
            <input  type="submit" value="Submit" id ="submit">
        </div>
    </div>
 </div>


 {% endblock content %} 