div.example {
    background-color: lightgrey;
    padding: 20px;
  }
  
  @media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }