<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}

 
    {% block content %}
    
<!-- 
    <div id="wrapperf">
        <div id="divf1">
                <button type="button" class="btn btn-info"  onclick="" style ="float: right ;">Next</button>
        </div>
        <div id="divf2">
                <button type="button" class="btn btn-info"  onclick="" style ="float: right ;">Previous</button>

        </div>
    </div> -->

    <br>
    <br>
    <br>
    <br>

    <div class="row" style=" text-align: center;">
            <div class="col-sm-2 " style=" display: inline-block;">
                <button type="button" class="btn btn-info" id ="info" onclick="next()" style ="float: center ;">Next</button>
            </div>

            
     </div>

     <br>

     <div class="row"   style=" text-align: center;">
      <div class="col-sm-2 " style=" display: inline-block;">
          <button type="button" class="btn btn-info" id ="info" onclick="previous()" style ="float: center ;">Previous</button>
      </div>
    </div> 

     <br>
     <br>

     <article class="flashcard">
      <input id="flashcard-1" type="checkbox" />
      <label for="flashcard-1" id ="flashcardsection" onclick="flip()">
        <section class="front">
          Front of the flashcard!
        </section>
        
    
      </label>
    </article>

    <br>
    <br>


     


     <br>
     <br>


     <div class="row"   style=" text-align: center;">
      <div class="col-sm-2 " style=" display: inline-block;">
          <button type="button" class="btn btn-info" id ="info" onclick="shuffle()" style ="float: center ;">Shuffle</button>
      </div>
</div> 


<br>
<br>



     



    
    {% endblock content %}