<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}
 
 {% block content %}
 
           
            <div class="container-fluid" id ="main"></div> 
                <div class="row">
                    <div class="col-sm-2 " style="background-color:;">
                        <img id ="imgpos" class="img-responsive" src="{% static 'vince.jpg' %}" alt="Avatar"  data-toggle="tooltip" title="wah tooltip...." > 
                    </div>
                    <div class="col-sm-10" style="background-color:;">
                      <div >
                        <h1 id="head1" >About Me</h1>
                        <h2 id="head2" >Vincentius Adi Kurnianto</h2>
                        <p id="shortdesc" >
                           I'm currently studying Computer Science in University of Indonesia with a hope of becoming a professional full stack developer in the future. 
                           With that goal in mind, I'm currently active in learning a bunch of programming concepts and languages. 
                           I believe the saying "Practice makes perfect" is very true in my way to achieve my goals. 
                           I also viewed my self as someone who can work comfortably both in a team or individually.
                   </p>
                  </div>

                    </div>
                    
                    
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-3 " style="background-color:;">
                        <div >
                            <div class="container-fluid" id="sosmedbox" >
                                    <div class="panel-group">
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse1" id="Ctitle" >Find me on Social Media</a>
                                          </h4>
                                        </div> 
                                        <div id="collapse1" class="panel-collapse collapse" >
                                          <ul class="list-group"  >
                                            <li class="list-group-item" >
                                                <a href="https://www.instagram.com/vincent_adi10/" target="_blank">
                                                  <img id="sosmed2" class="img-responsive" src="/static/insta.jpg"  > 
                                               <!-- <img  src="insta.jpg" id="sosmed2" alt"ig"></img>  -->
                                                </a>  
                                            </li>
                                            <li class="list-group-item" >
                                                    <a href="https://www.linkedin.com/in/vincentius-adi-0aa635131/" target="_blank">
                                                      <img id ="sosmed1" class="img-responsive" src="/static/linkedin.png"  > 
                                              <!--  <img src="linkedin.png" id="sosmed1"></img>  -->
                                                </a>
                                            </li>
                                            <li class="list-group-item" >
                                                    <a href="https://www.facebook.com/king.lightning1" target="_blank">
                                                      <img id ="sosmed1" class="img-responsive" src="/static/facebook.png"> 
                                              <!--  <img src="facebook.png" id="sosmed3"></img> -->
                                                </a>
                                            </li>
                                          </ul>
                                          <div class="panel-footer"></div>
                                      </div>
                                    </div>
                                  </div> 
        
                    </div>
                    </div>

                  </div>

              </div>
              <br><br>
              <div class="row">
                <div class ="col-sm-12">
                      <form id="form" method ="POST" action = "">
                        {% csrf_token %}
                        {{ subscriber_form.as_p }}
                        <div class = "row"> <p style ="margin-left: 50px;" id="emailMsg">zazaa</p></div>
                        <button id ="submit_btn" disabled> Submit gan</button>
                       <!-- <input type="submit" value ="submit" id="submit_button" > -->
                      </form>


                </div>

              </div>
              <br><br>
              <div class="row">
                  <div class="col-sm-2 " style="background-color:;">
                      <button type="button" class="btn btn-info" id ="info" onclick="change_theme()">Change Theme</button>
              </div>
              </div>
              
                
                    
             
               
                <div class="accordion">
                    <h1 id= "head1" style="margin-left: 50px;">Resume</h1>
                  <div class="accordion-header" style="font-family: Lato;font-size: 20px;">Current Activity</div>
                  <div class="accordion-content"style="font-family: Lato;font-size: 18px;">
                      I'm currently studying Computer science in University of Indonesia. Since this study demands a chunk of dedication and hardwork plus 
                       my inability to overcome procrastinating, I spent most of my time finishing and battling assignments such as this one :)

                  </div>
                
                  <div class="accordion-header"style="font-family: Lato;font-size: 20px;">Achievements</div>
                  <div class="accordion-content">
                      <img src="https://pics.me.me/when-you-have-no-life-experiences-or-achievements-alex-former-5960970.png"> 
                    
                  </div>
                
                  <div class="accordion-header"style="font-family: Lato;font-size: 20px;">Experiences</div>
                  <div class="accordion-content">
                      <img src="https://pics.me.me/when-you-have-no-life-experiences-or-achievements-alex-former-5960970.png"> 

                  </div>
                </div>
              
               <!-- <h1 id ="head1"> Resume </h1>

                <div >
                        <div id="accordion" style="max-width: 1000px" >
                            <h4 style="width:950px;font-family: Lato;font-size: 20px;" >Current Activities</h4>
                            <div style="max-height: 250px;"> 
                              <p style="font-family: Lato;font-size: 25px;">
                              I'm currently studying Computer science in University of Indonesia. Since this study demands a chunk of dedication and hardwork plus 
                              my inability to overcome procrastinating, I spent most of my time finishing and battling assignments such as this one :)
                              </p>
                            </div>
                            <h4 style="max-width:950px;font-family: Lato;font-size: 20px;" >Experiences</h4>
                            <div>
                                <img src="https://pics.me.me/when-you-have-no-life-experiences-or-achievements-alex-former-5960970.png"> 
                            </div>
                            <h4 style="max-width:950px;font-family: Lato;font-size: 20px;" >Achievements</h4>
                            <div>
                              <img src="https://pics.me.me/when-you-have-no-life-experiences-or-achievements-alex-former-5960970.png"> </img>
                            </div>
                            

                        </div>

            </div>-->
                      

              </div>


              </div>
              </div>    
              {% endblock content %}

             




            


            <!-- <div>
                    <h3 id ="head3"> Resume </h3>

                    <div class="container" >
                            
                            <div id="accordion" style =  "margin-left: 250px;margin-top:100px;max-width: 1000px">
                              <div class="card" style="background-color: aqua; width: 950px">
                                    
                                <div class="card-header">
                                  <a class="card-link" data-toggle="collapse" href="#collapseOne" id="collapsebox">
                                    Educations
                                  </a>
                                </div>
                            
                                <div id="collapseOne" class="collapse" > <!-- data-parent="#accordion"
                                  <div class="card-body"  style="background-color:wheat; ">
                    
                                   <div class="grid-container">
                                     <div class="grid-item"><img src="ui.png" id="edu" ></img></div>
                                     <div class="grid-item" >2017 - 2021</div>
                                     <div class="grid-item" >University of Indonesia</div>  
                                     <div class="grid-item"><img src="smansa.gif" id="edu" ></img></div>
                                     <div class="grid-item">2014 - 2017</div>
                                     <div class="grid-item">Senior High School 1 Bogor</div>  
                                     <div class="grid-item"><img src="spensa.jpg" id="edu" ></img></div>
                                     <div class="grid-item">2011 - 2014</div>
                                     <div class="grid-item">Junior High School 1 Bogor</div>
                                     <div class="grid-item"><img src="sdrp.png" id="edu" ></img></div>
                                     <div class="grid-item">2005 - 2011</div>
                                     <div class="grid-item">Regina Pacis Elementary School</div> 
                                     <div class="grid-item"><img src="sdrp.png" id="edu" ></img></div>
                                     <div class="grid-item">2003 - 2005</div>
                                     <div class="grid-item">Regina Pacis Kindergarten</div> 

                                      
                                   </div>
                                  </div>
                                </div>
                            
                              </div>
                              <div class="card"style="background-color:deepskyblue ; dodger-blue ;width: 950px">
                                <div class="card-header">
                                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" id="collapsebox">
                                  Achievements
                                </a>
                                </div>
                                <div id="collapseTwo" class="collapse" >
                                  <div class="card-body"style="background-color:wheat; ">
                                    <div class="grid-container">
                                      <div class="grid-item">3.95 GPA at Semester 1</img></div>
                                      
                                      
 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card"style="background-color: darkturquoise;width: 950px">
                                <div class="card-header">
                                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree" id="collapsebox" >
                                    Skills
                                  </a>
                                </div>
                                <div id="collapseThree" class="collapse" >
                                  <div class="card-body"style="background-color:wheat; ">
                                    <div class="grid-container">
                                      <div class="grid-item">Python</img></div>
                                      <div class="grid-item" ></div>
                                      <div class="grid-item" ></div>  
                                      <div class="grid-item">Java</img></div>
                                      <div class="grid-item"></div>
                                      <div class="grid-item"></div>  
                                      <div class="grid-item">Html</img></div>
                                      <div class="grid-item"></div>
                                      <div class="grid-item"></div>
                                      <div class="grid-item">CSS</img></div>
                                      <div class="grid-item"></div>
                                      <div class="grid-item"></div> 
                                      
 
                                       
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
    
                </div> -->

            
    

            

            

            


          <!--  <div class="jumbotron" id="jumbopos">
                    <p>I'm currently studying Computer Science in University of Indonesia with a hope of becoming a professional full stack developer in the future. With that goal in mind, I'm currently active in learning a bunch of programming concepts and languages. I believe the saying "Practice makes perfect" is very true in my way to achieve my goals. I also viewed my self as someone who can work comfortably both in a team or individually.</p>
             </div>
            
           -->
            

           
<!-- </body>