
<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}

 <!--<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="{% static 'css_nya.css' %}"> 
            <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
    </head> -->
    {% block content %}
    

   
    


        <div class="container-fluid" id="main">

            <div class="row" id="backgreeting">
                    
                <div class = "col-sm-12;">
                        <h4 style="font-size: 45px;" >Hello There !</h4>
                        <h5 style="font-size: 35px;">Feel free to type something</h5>
                </div>
            </div>

            
            <div class="row" id="backgreeting">
                    
                    <div class = "col-sm-12;">
                            <form id="form" method="POST" action="{% url 'vince_story6:save_status' %}">
                                    {% csrf_token %}
                                    {{ add_status.as_p }}
                                    <input  type="submit" value="Submit" id ="submit">
                             </form>
                    </div>
                </div>

               

                <br>
                <div class="row">
                        <div class="col-sm-2 " style="background-color:;">
                            <button type="button" class="btn btn-info" id ="info" onclick="change_theme()" style ="float: right ;">Change Theme</button>
                        </div>
                 </div>
                <br>
                <br>
     <div class="row" style="">
            <div class="col-sm-8">
                    <div>
                            <h3>My Status Timeline</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th class="col-sm-6">Status</th>
                                    <th class="col-sm-6"> Time Published </th>
                                    </thead>
                                    <tbody>
                                            {% for data in all_status %}
                                        <tr>
                                            <td>{{ data.status }}</td>
                                            <td>{{ data.dates }}</td>
                                        </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                            </div>
                        </div>
                
                    
             </div>
             
     </div>



        </div>

        {% endblock content %}
    



<!--    <div>
            <h3>My Status Timeline</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th class="col-sm-9">Status</th>
                    <th> Time Published </th>
                    </thead>
                    <tbody>
                    {% for foo in message %}
                        <tr>
                            <td>{{ foo.statusField }}</td>
                            <td>{{ foo.timeField }}</td>
                        </tr>
                    {% endfor %}
                   </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-12">
                <a  style="font-size: 20px"> Status : {{ data.status }}</a><br>
                <a  style="font-size: 20px"> Time : {{ data.dates }}</a><br>
               
                <br>
                <br>
                    
             </div> -->