<!DOCTYPE html>
{% load static %}
 {% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="{% static 'css_nya.css' %}"> 
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
</head>

<body>
               
               <div class="container-fluid" id = "main">
                    <div class="row">
                        <div class="col-sm-12">
                               <h1 id="head1">Hello There !</h1>
                               <h2 id="head2" >Feel free to type somethinggggg</h2>
                        </div>
               
                    </div>

                    <div class="row">
                            <div class="col-sm-2 " style="background-color:;">
                                <button type="button" class="btn btn-info" id ="info" onclick="change_theme()">Change Theme</button>
                            </div>
                        </div>
               
                    <div class="row">
                        <div class="col-sm-9">
                               <form id="form" method="POST" action="{% url 'vince_story6:save_status' %}">
                                       {% csrf_token %}
                                       {{ add_status.as_p }}
                                       <input  type="submit" value="Submit">
                                </form>
               
                        </div>
                        
                        
                   </div>
                   
                </div> 
</body>