<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}

 {% block content %}

 <div class="container">

      <!-- <section class="back">
                Back of the flashcard!
              </section> -->


    <h1>Please Complete your login to continue</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

</div>



 {% endblock content %} 