<!DOCTYPE html>
{% load static %}
 {% load staticfiles %}
<head>
      
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
   <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}"> 
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
    <script src="{% static 'js/theme.js'  %}"></script> 
    <script src="{% static 'js/email.js'  %}"></script> 
    <script src="{% static 'js/flashcard.js'  %}"></script> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="267233680696-q2e4tu6gp9e96dqvkv9fu7s9fd46lqf1.apps.googleusercontent.com"> 
  <!-- <meta name="google-signin-client_id" content=" 267233680696-buk6jb6vnd8vj0sko3p32n2f6gmsf3da.apps.googleusercontent.com"> -->

   
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  

</head>

<body onload="myFunction()" >
    <div>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
            
              <li><a class="nav-item nav-link " href="{% url 'vince_story6:index' %}"  style="color:white;padding: 10px 25px;">Home</a></li> 
               <li><a class="nav-item nav-link" href="{% url 'vince_story6:profile' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Profile</a></li> 
               <li><a class="nav-item nav-link" href="{% url 'vince_story6:story9' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Story11</a></li> 
               <li><a class="nav-item nav-link" href="{% url 'vince_story6:challenge10' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Challenge 10</a></li> 
               <li><a class="nav-item nav-link" href="{% url 'vince_story6:flashcard' %}"style="color:white;  margin: 0px;padding: 10px 25px;">Flashcard</a></li> 
               <!--{% url 'vince_story6:story9' %}-->
              
               
             </div>
           </div>
         </nav>


   </div> 
   
   <div id="loader"></div>
 <div style="display:none;" id="myDiv" class="animate-bottom"> 
 
   {% block content %}
   {% endblock %}

</body>



        