
{% extends 'navbar.html' %}
{% load static %}
 {% load staticfiles %}


 {% block content %}
<div  class="container-fluid" id="main">
    <div class="row">
        <div class="col-sm-8">
            <h3>The Subscribers</h3>
        </div>
    </div>

    <div class="row">
            <div class="table-responsive">
                    <table class="table" >
                        <thead>
                        <th class="col-sm-3">Name</th>
                        <th class="col-sm-3"> Email </th>
                        </thead>
                        {% csrf_token %}
                        <tbody id ="start_subs">

                       </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

 {% endblock content %}