#bintang{
    max-width:15px;
    max-height: 15px;
}

/*bambang*/

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
  }
  
  article.flashcard {
    margin: 0px auto;
    border: 1px rgba(255, 255, 255, 0.03) solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 250px;
  }
  article.flashcard input[type=checkbox] {
    display: none;
  }
  article.flashcard input[type=checkbox]:checked ~ label section.front {
    height: 0%;
  }
  article.flashcard input[type=checkbox]:checked ~ label section.back {
    height: 100%;
  }
  article.flashcard label {
    display: block;
    width: 100%;
    height: 100%;
  }
  article.flashcard section {
    display: block;
    font: 30px 'Oswald', sans-serif;
    text-align: center;
    line-height: 250px;
    width: 100%;
    transition: all 0.2s linear 0s;
    overflow: hidden;
  }
  article.flashcard section.front {
    color: #BA1F53;
    background: #DDD;
    height: 100%;
  }
  article.flashcard section.back {
    color: #DDD;
    background: #C85073;
    height: 0%;
  }
  

/*bambang*/


#wrapperf {
    
}
#divf1 {
    display: inline-block;
    
}
#divf2 {
    display: inline-block;
   
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: left;
  }

  
#info{
    margin-left:50px;
    font-size: 30px;
    border-radius: 25px;

}

.navbar{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

#backgreeting{
    background-color: lightcyan;

}
#haha{
    font-size: 50px;
    font-family: "Lato";
    color:blue;
}




li{
    float: right;
    margin: 2px;
  
  
}

li a {
    display: block;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover {
    background-color:#7E8792;
    outline:none;
    padding: 14px 25px;
    text-decoration:none;
    color: white;
}


  
  #imgpos{
      float: left;
      margin-left: 0px;
      margin-top: 100px;
      border-radius: 50%;
      max-width:280px;
      height: auto;
      width: 100%;

  }

.responsive {
    width: 100%;
    max-width: 50px;
    height: auto;
}
  #head1{
   /* margin-left: 455px;*/
    margin-top: 150px;
    font-weight: bold;
    font-family: "Lato";
    font-size: 65px;
   /* color : wheat;*/
}

#head2{
    /*margin-left: 455px;*/
    margin-top: 50px;
    font-family: "Lato";
    
    font-weight: bold;
}
@media screen and (min-width: 801px) {
    #head2{
        font-size: 35px;
        
    }
}
@media screen and (max-width: 800px) {
    #head2{
        font-size: 15px;
        
    }
}

#head3{
    margin-left: 0px;
    margin-top: 50px;
    font-weight: bold;
    font-family: "Lato";
    font-size: 65px;
}

#resume{

    margin-left: 0px;
    margin-top: 50px;
    font-family: "Lato";
    font-size: 25px;
    max-width: 1000px;

}
#education{
    margin-left: 0px;
    margin-top: 50px;
}

#shortdesc{

    border-radius: 25px;
    padding: 35px;
    background: #E0E7EE;
    margin-top: 50px;
    font-family: "Lato";
    
    text-align: justify;
}

@media screen and (min-width: 801px) {
    #shortdesc{
        font-size: 22px;
        max-width : 1000px;
        height: 275px;
        margin-left: 55px;
    }
}
@media screen and (max-width: 800px) {
    #shordesc{
        font-size: 5px;
        height: 400px;
        margin-left: 0px;
      
    }
}

.panel-group{
    max-width : 300px;
}

#sosmed1{
    height: 30px;
    width: 100px;
}
#sosmed2{
    height: 50px;
    width: 100px;

}
#sosmed3{
    height: 40px;
    width: 100px;

}
#sosmedbox {

    position: relative;
    float: left;
   /* bottom: 300px;*/
    left: 0px;
    border-radius: 25px;
    border: 4px solid  #3FE0F5;
    max-width: 375px;
    padding: 25px;
    background-color: whitesmoke;
    
}

@media screen and (max-width: 800px) {
    #sosmedbox{
        max-width: 300px
      
    }
}


.card{
    background-color: aliceblue
}
@media screen and (min-width: 801px) {
    .card{
       /* font-size: 22px;*/
        max-width : 990px;
        /*margin-left: 55px;*/
    }
}
@media screen and (max-width: 800px) {
    .card{
        max-width: 400px;
      
    }
}

#cardtext{
    font-family: "Lato";
}

@media screen and (max-width: 800px) {
    #cardtext{
        font-size: 15px;
        font-family: "Lato";
      
    }
}
.grid-container{
    background-color:white;
    
}
@media screen and (max-width: 850px) {
    .grid-container{
        font-size: 10px;
        font-family: "Lato";

      
    }
}




#Ctitle a:hover {
    outline:none;
    text-decoration:none;
    border-style: none;
    font-family: "Lato";
    color:dodgerblue;
}

#collapsebox{
    font-family: "Lato";
    font-size: 35px;
    color: black;
    font-weight: 2px;
    max-width: 1000px;

}
#edu{
    border-radius: 50%;
    width: 60px;
}

#textedu{
    font-family: "Lato";
    font-size: 20px;
    font-weight: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
   
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-family: "Lato";

  }
  #feedback{
    margin-left: 150px;
    margin-top: 150px;
    font-weight: bold;
    font-family: "Lato";
    font-size: 70px;
  }

  #feedesc{

    border-radius: 25px;
    padding: 35px;
    background: #E0E7EE;
    margin-top: 50px;
    font-family: "Lato";
    text-align: justify;
}

@media screen and (min-width: 801px) {
    #feedesc{
        font-size: 22px;
        max-width : 1000px;
        height: 275px;
        margin-left: 55px;
    }
}
@media screen and (max-width: 800px) {
    #feedesc{
        font-size: 5px;
        height: 400px;
        margin-left: 0px;
      
    }
}

/*responsive layout, copyright and source: @ https://www.w3schools.com/Css/tryit.asp?filename=trycss_form_responsive*/

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*.container {
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: "Lato";
}*/

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.col-75{
    max-width: 750px;
}


.card{
    border: 2px #333;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 4%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
    
    
.accordion {
	/* background: linear-gradient(to bottom right, white, #F8F8F8); */
	max-width: 900px;
	/* background: white; */
	/* margin: 0 auto; */
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.accordion-header {
	border-bottom: 1px solid #DDE0E7;
	color: #2a313a;
	cursor: pointer;
    font-weight: 700;
    background : wheat;
    
	padding: 1.5rem;
}

.accordion-header:hover {
	background: #F6F7F9;
}

.accordion-content {
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #F6F7F9;
	padding: 1.5rem;
	color: #4a5666;
}

.accordion-header::before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	background-color: #B1B5BE;
	margin-right: .75rem;
}

.active.accordion-header::before {
	background-color: #FC6468;
}